:root {
  --primary-text-color: #434455;
  --secondary-accent-color: #404bbf;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primary-white-color: #ffffff;
  --section-team-bg-color: #f4f4fd;
  --site-backgroung-color: #e5e5e5;
  --footer-text-color: #e7e9fc;
  --customers-color: #8e8f99;
  --accent-social-color: #31d0aa;
  --secondary-text-color: #757575;
}